* {
    margin: 0px;
    padding: 0px;
}

/*font import ↓*/
@import url(https://db.onlinewebfonts.com/c/59c1782846fdca2c567f9e96af977c37?family=Phonk+Contrast+DEMO);
@font-face {
    font-family: "Phonk Contrast DEMO";
    src: url("https://db.onlinewebfonts.com/t/59c1782846fdca2c567f9e96af977c37.eot");
    src: url("https://db.onlinewebfonts.com/t/59c1782846fdca2c567f9e96af977c37.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/59c1782846fdca2c567f9e96af977c37.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/59c1782846fdca2c567f9e96af977c37.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/59c1782846fdca2c567f9e96af977c37.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/59c1782846fdca2c567f9e96af977c37.svg#Phonk Contrast DEMO")format("svg");
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
}
.kijkshoph1{
    font-family: "Phonk Contrast DEMO";
}

p, a {
    font-family: 'Bebas Neue', sans-serif;
}

:root {
    --header-background: rgb(26, 58, 58);
    --white: rgb(242, 243, 217);
}

.wrapper {
    background-image: url("/img/Contour\ Line.svg"); 
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "hd"
    "mn"
    ;
}

header {
    background-color: var(--header-background);
    height: 50px;
    grid-area: hd;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

main {
    margin-top: 150px;
    grid-area: mn;
    height: 100vh;  
    text-align: center;
    color: var(--header-background);
}

a {
    font-size: 25px;
    text-decoration: none;
    color: white;
    padding: 15px; 
    transition: transform .2s;
}

a:hover {
    border-radius: 5mm;
    transform: scale(1.1);
    text-decoration: underline;
}

.kijkshop:hover {
    text-decoration: none;
    
}


.kijkshop {
    margin-left: 15px;
    font-family: "Phonk Contrast DEMO";
}

/* om alle links naar rechts te kunnen zetten */
.about-us {
    margin-left: 1000px;
}